.review-form {
  padding: 30px;
}

.review-body {
  height: 200px;
  width: 400px;
  resize: none;
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid rgba(128, 128, 128, 0.542);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 40px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 12pt;
  font-weight: 500;
  color: rgba(74, 74, 74, 0.747);
}

.stars select {
  margin: 10px;
}

.review-title2 {
  font-size: 18pt;
}

@media (max-width: 600px) {
  .review-body {
    width: 70vw;
  }

  .create-spot-button {
    margin-top: 40px;
    height: 50px;
    width: 70vw;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12pt;
    background: linear-gradient(to right, rgb(228,30,78), rgb(214,5,101));
    cursor: pointer;
  }
}
