.icons-div {
  position: sticky;
  top: 8vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  /* width: 95vw; */
  padding: 0 2.25vw;
  margin-top: -1vh;
  border-bottom: 1px solid rgba(213, 213, 213, 0.441);
}

.icons-div a {
  text-decoration: none;
  color: #333;
}

.icon {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s;
}

.icon:hover {
  border-bottom: 3px solid rgba(201, 201, 201, 0.738);
}

.icon-label {
  padding: 10px 0;
  font-size: 9pt;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.location-icon {
  height: 25px;
}

@media (max-width: 1500px) {
  .icons-div {
    display: none;
  }
}

@media (min-height: 1000px) {
  .icons-div {
    top: 7%;
  }
}

@media (min-height: 1200px) {
  .icons-div {
    top: 5.5%;
  }
}

@media (min-height: 1400px) {
  .icons-div {
    top: 5%;
  }
}

@media (min-height: 1600px) {
  .icons-div {
    top: 3.25%;
  }
}
