.my-spots {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.my-spots-location {
  margin-bottom: 0;
}

.review-title {
  text-align: center;
  padding-top: 20px;
  /* border-bottom: 1px solid rgba(213, 213, 213, 0.441); */
}

.one-review {
  margin: 25px 25px;
  text-align: center;
}

.my-spots-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  color: black;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 0;
}

.one-review h4 {
  margin-top: 0;
  color: black;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-top: 7px;
}

.review-link {
  text-decoration: none;

}

.review-image {
  object-fit: cover;
  width: 270px;
  height: 270px;
  border-radius: 5%;
}

.star {
  font-size: 8pt;
  padding: 0 5px;
}

.review-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-spots-button {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.347);
  cursor: pointer;
  width: 113px;
}

.my-spots-button:hover {
  background-color: rgba(128, 128, 128, 0.07);
}

.review-button:hover {
  background-color: rgba(128, 128, 128, 0.07);
}

.my-spots-star {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

.review-description {
  background-color: white;
  height: 80px;
  width: 250px;
  overflow:auto;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.347);
}

@media (max-width: 1500px) {
  .my-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1200px) {
  .my-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 900px) {
  .my-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }
}
