.single-spot-map {
  border-top: 1px solid rgba(128, 128, 128, 0.273);
}

.map-header {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -.75px;
}

/* @media (max-width: 1900px) {
  .single-spot-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    width: 80vw;
  }
} */
