.create-form {
  border: 1px solid rgba(128, 128, 128, 0.542);
  border-radius: 10px;
  max-height: 90vh;
  overflow: auto;
}

.create-title {
  font-size: 20pt;
}

.top-bar1 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.main-field2 {
  display: flex;
  justify-content: center;
}

.form2 {
  padding: 40px 40px 0px 40px;
  display: flex;
  flex-direction: column;
}

.create-spot-button {
  margin: 30px 0;
  height: 50px;
  width: 514px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 12pt;
  background: linear-gradient(to right, rgb(228,30,78), rgb(214,5,101));
  cursor: pointer;
}

.cancel-button-container {
  display: flex;
  justify-content: center;
}

.form2 input {
  height: 50px;
  width: 500px;
  padding-left: 10px;
}

.form2 ::placeholder {
  font-size: 12pt;
  font-weight: 500;
  color: rgba(74, 74, 74, 0.747);
}

.address {
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.city,
.state,
.country,
.spot_name,
.price {
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
}

.description {
  height: 120px;
  resize: none;
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
  padding-top: 10px;
  padding-left: 10px;
}

.previewImg,
.price2 {
  border: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 600px) {
  .form2 {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .form2 input,
  .form2 textarea {
    height: 50px;
    width: 70vw;
  }

  .create-spot-button {
    margin-top: 40px;
    height: 50px;
    width: 70vw;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12pt;
    background: linear-gradient(to right, rgb(228,30,78), rgb(214,5,101));
    cursor: pointer;
  }
}
