.create-title {
  font-size: 20pt;
}

.form2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.form2 input {
  height: 50px;
  width: 500px;
  padding-left: 10px;
}

.form2 ::placeholder {
  font-size: 12pt;
  font-weight: 500;
  color: rgba(74, 74, 74, 0.747);
}

.address {
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.city,
.state,
.country,
.spot_name,
.price {
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
}

.description {
  height: 120px;
  resize: none;
  border-top: 1px solid rgba(128, 128, 128, 0.542);
  border-right: 1px solid rgba(128, 128, 128, 0.542);
  border-left: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom: 1px solid transparent;
  padding-top: 10px;
  padding-left: 10px;
}

.previewImg {
  border: 1px solid rgba(128, 128, 128, 0.542);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
