.coming-soon {
  text-align: center;
  padding: 50px;
  border: 1px solid rgba(128, 128, 128, 0.347);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .coming-soon {
    margin: 30vh 0 0 0;
  }
}
