form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 50px 50px;
  border: 3px solid rgba(255, 160, 122, 0.597);
  width: 200px;
  margin: 0 auto;
  background-color: rgba(232, 255, 255, 0.612);
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}

input {
  margin: 10px;
  text-align: center;
}

button {
  height: 40px;
  width: 120px;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.535);
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.848);
}

a {
  cursor: pointer;
}
