.spot-index {
  margin: 0 40px;
}

.all-spots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-spots {
  max-width: 2000px;
  margin: 30px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
}

.one-spot {
  margin-bottom: 25px;
}

.one-spot h3 {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 0;
}

.one-spot h4 {
  margin-top: 0;
  color: black;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-top: 7px;
}

.spot-link {
  text-decoration: none;
}

.spot-image-container{
  max-width: 373px;
  max-height: 354px;
}

.spot-image {
  object-fit: cover;
  width: 14.5vw;
  height: 13.8vw;
  border-radius: 5%;
}

.star {
  font-size: 8pt;
  padding: 0 5px;
}

.spot-star {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.night {
  font-weight: 400;
  padding-top: 5px;
}

.miles {
  color: gray;
}

.spot-location {
  padding-bottom: 3px;
}

@media (max-width: 1800px) {
  .all-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
  }
  .spot-image {
    width: 17vw;
    height: 16vw;
  }
}

@media (max-width: 1500px) {
  .all-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
  }
  .spot-image {
    width: 20.5vw;
    height: 19.5vw;
  }
}

@media (max-width: 1200px) {
  .all-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }
  .spot-image {
    width: 26vw;
    height: 25vw;
  }
}

@media (max-width: 900px) {
  .all-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .spot-image {
    width: 35vw;
    height: 34vw;
  }
}

@media (max-width: 600px) {
  .all-spots {
    margin: 30px 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }
  .spot-image {
    width: 60vw;
    height: 59vw;
  }

  .host {
    display: none;
  }
}
