.all-spots {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
}

.one-spot {
  margin-bottom: 25px;
}

.one-spot h3 {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 0;
}

.one-spot h4 {
  margin-top: 0;
  color: black;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-top: 7px;
}

.spot-link {
  text-decoration: none;
}

.spot-image {
  object-fit: cover;
  width: 270px;
  height: 270px;
  border-radius: 5%;
}

.star {
  font-size: 8pt;
  padding: 0 5px;
}

.spot-star {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.night {
  font-weight: 400;
  padding-top: 5px;
}

.miles {
  color: gray;
}

.spot-location {
  padding-bottom: 3px;
}
