nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(213, 213, 213, 0.441);
}

.logo-img {
  height: 45px;
  margin-left: 60px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  color: rgb(255,56,92);
  font-size: 16pt;
  letter-spacing: -1.5px;
  margin-top: 12px;
  font-weight: 700;
}

.nav-right {
  margin-right: 30px;
  padding: 0 10px;
}

.host {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.8px;
  font-size: 11pt;
}

.bar {
  margin-top: 8px;
  margin-left: 80px;
  width: 350px;
  background: white;
  box-shadow: 0 0 7px hsl(0 0% 78%);
  transition: box-shadow 0.5s;
  height: 44px;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

.bar div {
  border-radius: inherit;
  padding: 0.8rem 1.5rem;
  transition: background 250ms ease;
}

.bar:hover {
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

.location {
  width: 20%;
}

.check-in {
  width: 15%;
}

.anywhere {
  position: relative;
  right: 5px;
}

.any-week {
  position: relative;
  right: 22px;
}

.add-guests {
  position: relative;
  right: 24px;
}

.check-out, .guests {
  width: 22%;
}

input[type="text"] {
  background: none;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.add-guests::placeholder {
  font-weight: 400;
}

.guests {
  position: relative;
}

.guests span {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  background: #FF385C;
  color: white;
  font-size: 0.7rem;
  padding: 0.6rem;
  border-radius: 100%;
  cursor: pointer;
}

.bar>div {
  position: relative;
  cursor: text;
}


.bar>div::before {
  position: absolute;
  content: "";
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background: hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before {
   background: transparent;
}
