nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(213, 213, 213, 0.441);
}

.logo-img {
  height: 45px;
  margin-left: 60px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  color: rgb(255,56,92);
  font-size: 16pt;
  letter-spacing: -1.5px;
  margin-top: 12px;
  font-weight: 700;
}

.nav-right {
  margin-right: 60px;
  padding: 0 10px;
}

.host {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.8px;
  font-size: 11pt;
  margin-right: 20px;
}

.bar {
  margin-left: 125px;
  width: 350px;
  background: white;
  box-shadow: 0 0 7px hsl(0 0% 78%);
  transition: box-shadow 0.5s;
  height: 44px;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

.bar div {
  border-radius: inherit;
  padding: 0.8rem 1.5rem;
  transition: background 250ms ease;
}

.bar:hover {
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

.location {
  width: 20%;
}

.check-in {
  width: 15%;
}

.anywhere {
  position: relative;
  right: 5px;
}

.any-week {
  position: relative;
  right: 22px;
}

.add-guests {
  position: relative;
  right: 24px;
}

.check-out, .guests {
  width: 22%;
}

nav input[type="text"] {
  background: none;
  border: none;
}

nav input[type="text"]:focus {
  outline: none;
}

::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.add-guests::placeholder {
  font-weight: 400;
}

.guests {
  position: relative;
}

.guests span {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  background: #FF385C;
  color: white;
  font-size: 0.7rem;
  padding: 0.6rem;
  border-radius: 100%;
  cursor: pointer;
}

.bar>div {
  position: relative;
  cursor: text;
}


.bar>div::before {
  position: absolute;
  content: "";
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background: hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before {
   background: transparent;
}

.profile-dropdown {
  border-radius: 5%;
  box-shadow: 0 0 7px hsl(0 0% 78%);
  position: absolute;
  right: 50px;
  list-style: none;
  width: 240px;
  padding: 0;
  margin: 0;
  background-color: white;
  font-size: 10.5pt;
  letter-spacing: -0.8px;
  overflow: hidden;
}

.profile-dropdown-li {
  margin: 0;
  /* margin-bottom: 20px; */
  font-weight: 500;
  /* color: rgb(25, 25, 25); */
  width: 100%;
}

.profile-dropdown-li a {
  display: block;
  color: rgb(76, 76, 76);
  padding: 12.5px 0;
  padding-left: 20px;
  width: 100%;
}

.profile-dropdown-li a:hover {
  background-color: rgba(111, 128, 117, 0.059);
}


.profile {
  position: relative;
  vertical-align: middle;
  height: 42px;
  width: 77px;
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
  border-radius: 21px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.352);
  padding: 5px 5px 5px 12px;
}

.profile-lines {
  font-size: 15px;
  padding-left: 5px;
  color: rgb(101, 101, 101);
}

.profile-icon {
  padding-left: 10px;
  font-size: 28px;
  color: rgb(101, 101, 101);
}

.dropdown-line {
  border-top: 1px solid rgba(128, 128, 128, 0.419);
}

.dropdown {
  padding: 10px 0;
  width: 100%;
}
